/*TODO: make the colors into variables*/
:root {
  /**Blacks**/
  --black: rgb(0, 0, 5);
  --opaque-black: #0007;
  --black-blue: #000025;
  --dark-gray: rgb(18, 21, 36);
  /**Blues**/
  --discord-blurple: #5865F2;
  --night-blue: rgb(18, 28, 80);
  --dark-blue: rgb(32, 49, 149);
  --bright-blue: rgb(54, 88, 224);
  --light-blue: rgb(125, 149, 255);
  --white-blue: #bec7ec;
  --opaque-blue: rgba(125, 149, 255, 0.125);
  --dark-purple: #16182f;
}

*{
  font-family: 'Mukta Mahee', sans-serif !important;
  color: ghostwhite;
  word-wrap: break-word;
}
body{
  background: var(--black-blue) !important;
  min-height: 100vh;
  margin: 0;
  word-wrap: break-word;
}
#block{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  color: var(--black);
  font-size: 3em;
}
a:link {
  text-decoration: none;
}

/*****Keyframes*****/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}

/*****Header*****/
header{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(assets/header-image.svg);
  border-bottom: 5px solid ghostwhite;
  box-shadow: 0 0 20px 5px black;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
}
#fireworks-js {
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
#sitename{
  /* position: fixed;
  top: 25px;
  left: 30px; */
  font-size: 2em;
  animation: 1s ease-in-out 0s 1 slideInFromLeft;
  transition: transform 0.075s ease-out,
  text-shadow 0.075s,
  filter 0.075s ease-out;
  display: flex;
  align-items: flex-end;
  gap: 0.2em;
}
#sitename:hover {
  transform: translateY(-5%);
  text-shadow: 0px 0px 10px #c0ceff;
}
#list-logo {
  transition: inherit;
  filter: drop-shadow(0 0 5px var(--black));
}
#sitename:hover #list-logo {
  filter: drop-shadow(-5px 5px 10px var(--black));
  transform: translateX(5px);
}
#version-node {
  font-size: 1.25rem;
  line-height: 1;
}
#header-links  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.75em;
}
#record-link {
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 0.5em 1em;
  background-color: transparent;
  border-radius: 1.15em;
  box-shadow: 0 0 10px var(--black-blue); /*00001b*/
  transition:
  box-shadow 0.15s ease-in-out,
  backdrop-filter 0.15s ease-out;
  user-select: none;
  white-space: nowrap;
}
#record-link:hover {
  box-shadow: 0 0 15px var(--black); /*black*/
  backdrop-filter: saturate(135%);
}
#pc-link{
  position: relative;
  text-align: right;
  font-size: 1.2em;
  background-color: var(--discord-blurple);
  padding: 0.5em 1em;
  border-radius: 1em;
  box-shadow: 0 0 10px var(--black);
  transition: 
  scale 0.15s ease-out,
  box-shadow 0.15s ease-in-out,
  background-color 0.15s ease-out,
  filter 0.2s ease-out;
  user-select: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pc-link::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, transparent 15%, #ffffff66, transparent 85%);
  transition: left 0.25s;
}
#pc-link img {
  height: 1.65em;
  filter: drop-shadow(0px 0px 5px var(--opaque-black));
  transition: inherit;
}
#pc-link:hover {
  scale: 1.05;
  box-shadow: 0 0 17px #000035;
  background-color: #454FBF;
}
#pc-link:hover img {
  filter: drop-shadow(0px 0px 5px #FFF7);
}
#pc-link:hover::before {
  left: 100%;
}

/*****List*****/
#list{
  background: linear-gradient(90deg, var(--dark-gray), var(--black));
  position: fixed;
  top: 100px;
  left: 0;
  width: 30%;
  overflow-y: auto;
  animation: 0.75s ease-out 0s 1 slideInFromBottom;
}
.entry{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;

  padding: 1em;
  transition:
  background 0.25s ease-out,
  color 0.25s ease-out,
  border-left 0.1s ease-out;
  border-color: var(--night-blue);
}
.entry:nth-child(odd){
  background: linear-gradient(90deg, var(--dark-blue), var(--night-blue));
}
.entry:not(.selected):hover{
  background: linear-gradient(90deg,
  var(--bright-blue), 
  var(--discord-blurple) 35%, 
  var(--light-blue) 99%);
  cursor: pointer;
  color:rgba(255, 255, 255, 0.5) !important;
  border-left: 8px solid var(--night-blue);
}
.selected {
  background: linear-gradient(90deg, #1b1d3a, var(--black-blue)) !important;
  border-left: 8px solid var(--black-blue);
}
.author{
  font-variant: small-caps;
}

/*****Additional information*****/
#additional-information{
  background: linear-gradient(135deg,
  #1b213a,
  var(--black-blue));
  position: fixed;
  top: 100px;
  right: 0;
  width: 30%;
  overflow-y: auto;
  animation: 0.75s ease-out 0s 1 slideInFromBottom;
}
#inner-right-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1.5em 3em;
}
#credits {
  text-align: center;
}
#credits a{
  text-decoration: underline;
  color: var(--discord-blurple);
}
#credits a:hover {
  color:var(--white-blue);
}
#staff-list {
  background: linear-gradient(115deg,
  var(--black-blue) 0%,
  var(--night-blue) 20%,
  var(--black-blue) 20%,
  var(--night-blue) 40%,
  var(--night-blue) 40%,
  var(--night-blue) 60%,
  var(--night-blue) 60%,
  var(--black) 80%,
  var(--night-blue) 80%,
  var(--dark-blue) 100%);
  padding: 1em 3em;
  border-radius: 1.5em;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 0.35em;
}
#staff-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#staff-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#staff-list a:hover {
  color:var(--white-blue);
  text-decoration:underline; 
}
.staff-title {
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.25em;
}
#owner-icon,
#mod-icon,
#admin-icon,
#coder-icon{
  height: 20px;
}
#staff-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#guidelines {
  width: 90%;
  padding: 1.5em;
  border-radius: 1.5em;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-sizing: border-box;
  background: linear-gradient(215deg,
  var(--black-blue) 0%,
  var(--night-blue) 20%,
  var(--black-blue) 20%,
  var(--night-blue) 40%,
  var(--night-blue) 40%,
  var(--night-blue) 60%,
  var(--night-blue) 60%,
  var(--black) 80%,
  var(--night-blue) 80%,
  var(--dark-blue) 100%);
}
#guidelines-title {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}
#guidelines ul {
  box-sizing: border-box;
  border: 1px solid var(--opaque-blue);
  border-radius: 1.5em;
  padding: 1em;
  padding-left: 1.35em;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  list-style: none;
  backdrop-filter: blur(16px) saturate(75%);
}
#guidelines li:not(:last-child) {
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--opaque-blue);
}
#guidelines li::before {
  content: "-";
}
#guidelines li a {
  text-decoration: underline;
  color: #7289DA;
}
#guidelines li a:hover {
  color:var(--white-blue);
}
#additional-information hr {
  margin: 0;
}

#inner-info, #inner-right-info{
  padding: 1.5em 1em;
}

/*****Info*****/
#info{
  box-shadow: inset 0 0 35px 5px var(--black);
  background: linear-gradient(165deg, var(--night-blue), rgb(4, 10, 39), var(--night-blue));
  position: fixed;
  top: 100px;
  left: 30%;
  width: 40%;
  overflow-y: auto;
}
.level-info-button {
  font-size: 1.4rem;
  cursor: pointer;
  background-color: var(--dark-blue);
  padding: 0em 0.35em;
  border-radius: 0.75em;
  box-shadow: 0 0 15px var(--black);
  margin-left: 0.1em;
  transition: 
  box-shadow 0.05s ease-in-out,
  background-color 0.1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.level-info-button:hover {
  box-shadow: 0 0 20px 5px var(--black);
  background-color: var(--dark-gray);
}
#leveltitle{
  font-size: 1.7em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#levelrank {
  background-color: var(--night-blue);
  padding: 0em 0.35em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px var(--black);
}
#levelname {
  font-size: 2.25rem;
}
#more {
  background: none;
  border: none;
  font-size: inherit;
  padding: 0;
  text-decoration: underline;
}
#level-info {
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
#levelpoints {
  background-color: var(--night-blue);
  padding: 0em 0.35em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px var(--black);
}
#copy-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 1em;
  flex-wrap: wrap;
  width: 60%;
}
.clipboard,
.download {
  height: 20px;
  width: 30px;
}
#records-id {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#records-pass {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#records-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
#download-button {
  padding: 0.25em 1em;
}
#records-title strong {
  font-size: 1.8rem;
}
#levelqualify {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 1em;
}
#level-submit {
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 0.5em 1em;
  background-color: var(--dark-blue);
  border-radius: 1.15em;
  box-shadow: 0 0 15px 2px var(--black-blue);
  transition: 
  box-shadow 0.15s ease-in-out,
  background-color 0.15s ease-out;
}
#level-submit:hover {
  box-shadow: 0 0 25px 5px var(--black);
  background-color: var(--dark-gray);
}
#levelauthor{
  font-size: 1.1em;
}
#leveldescription{
  font-size: 1.2em;
  font-variant: small-caps;
  margin-top: 1em;
}
.vid {
  margin: 1.5em 0;
  aspect-ratio: 16/9;
  width: 95%;
  border-radius: 0.75em;
  box-shadow: 0px 0px 35px rgba(87, 121, 255, 0.5), 0px 0px 35px -5px rgba(87, 121, 255, 0.5) inset;
  background:
  radial-gradient(var(--black), var(--opaque-black), transparent 60%);
}
.hacked{
  background: rgb(32, 65, 165);
  color: white;
  font-weight: strong;
  font-size: 0.4em;
  padding: 0.4em;
  border-radius: 1em;
}
.p-hacked{
  background: rgb(65, 96, 221);
  color: white;
  font-weight: strong;
  font-size: 0.4em;
  padding: 0.4em;
  border-radius: 1em;
}

/*****Records*****/
#records{
  width: 100%;
}
#records-title{
  font-size: 1.5em;
  font-weight: bold;
  color: var(--black);
}
#records-table{
  margin: 2.3em auto 1em auto;
  width: 95%;
  filter: drop-shadow(0px 0px 75px rgba(87, 121, 255, 0.25));
}
.record-entry {
  margin-bottom: 0.8em;
  border-radius: 0.75em;
  box-shadow: 0 0 20px var(--black);
}
.interentry{
  width: 100%;
  padding: 0.5em;
}
.record-entry:hover a{
  color:#a8b3dd;
  text-decoration:underline; 
}
.record-entry:nth-child(even){
  background: var(--night-blue)
}
.record-entry:nth-child(odd){
  background: var(--black)
}

/*I have no idea what these do but
I'm too scared to remove them*/
#explanation-simple-title{
  font-size: 1.5em;
  font-weight: bold;
  color: var(--black);
}
#explanation-simple{
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
}

/*****User list*****/
#user-rank-info {
  width: 95%;
  margin: auto;
  margin-top: 2em;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}
#user-rank-info center{
  font-size: 1.25rem;
  padding: 0.5em 0em;
  background: var(--dark-purple);
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  border: 1px solid var(--opaque-blue);
}
#user-rank {
  font-size: 20px;
  font-weight: bold;
}
#user-rank ol {
  list-style: none;
  padding: 1em 0em 1em 1em;
  margin: 0;
  background: var(--dark-purple);
  border-left: 1px solid var(--opaque-blue);
  border-right: 1px solid var(--opaque-blue);
  word-break: break-word;
}

/*
User records popup
[DO NOT MODIFY unless you know what you're doing]
*/
.swal2-popup {
  background-size: cover !important;
  box-shadow: 0 0 25px 5px var(--black);
  border-radius: 1em !important;
}
.swal2-popup a:hover {
  color:var(--white-blue);
  text-decoration:underline; 
}
.swal2-confirm {
  box-shadow: 0 0 20px var(--black) !important;
  border-radius: 0.75em !important;
}
/* 
Scroll bar 
[DO NOT MODIFY unless you know what you're doing]
*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--black-blue); 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-blue); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bright-blue); 
}

/*****Media queries*****/
@media all and (max-width: 1024px) {
  #guidelines {
    width: 100%;
    padding: 1.5em 0.75em;
  }
  #copy-buttons {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
	#additional-information {
		overflow-x: hidden;
	}
  #copy-buttons {
    flex-direction: column;
    align-items: stretch;
    width: 75%;
  }
  #records-song {
    align-items: stretch;
    width: 70%;
  }
	#info {
		overflow-x: hidden;
	}
  #inner-info {
    padding: 1.5em 0;
  }
  .vid {
    margin: 1.5em 0;
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 0;
  }
  #inner-right-info {
    padding: 1.5em 0;
  }
  header {
    padding: 0 1em;
  }
	#level-submit {
	padding: 0.5em;
	}
  #user-rank ol {
    padding-left: 0px;
  }
}
@media all and (max-width: 425px) {
	#guidelines {
		padding: 1.5em 0em;
	}
  #guidelines ul {
    padding: 1em 0;
  }
  #staff-list {
    padding: 1em 0.5em;
  }
  #copy-buttons {
    width: 100%;
  }
  #records-song {
    width: 100%;
  }
  #download-button {
    gap: 5px;
  }
  #header-links  {
    flex-direction: column;
    gap: 0.5em;
	}
  #record-link {
    font-size: 0.9rem;
    font-weight: bolder;
    padding: 0.5em 0.5em;
  }
  #pc-link {
    text-align: right;
    font-size: 0.9em;
    background-color: var(--discord-blurple);
    padding: 0.5em 0.5em;
    border-radius: 1em;
    box-shadow: 0 0 10px var(--black);
    transition: 
    scale 0.15s ease-out, 
    box-shadow 0.15s ease-in-out,
    background-color 0.15s ease-out;
    user-select: none;
  }
	#list {
		word-wrap: break-word;
	}
  .entry {
    padding: 0.75em 0.25em;
  }
	.interentry {
		padding: 0.5em 0;
		word-wrap: break-word;
	}
}

@media all and (max-width: 376px) {
  #levelpoints {
    font-size: 1.25rem;
  }
}